.card-img img {
    width: 100%;
    object-fit: cover;
}
.service-btn{
    padding: 11px 17px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: .3s;
}
.service-btn:hover {
    padding-right:11px;
}
