.single-reivew{
    position: relative;
    padding:15px;
    margin-bottom: 55px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.single-reivew img{
    height: 85px;
    width: 85px;
    position: absolute;
    left:30px;
    top:-30px;
}